*.o*
objects
*.pch
test
tests

#cpp_00
megaphone
MyAwesomePhoneBook
TheJobOfYourDreams

#cpp_01
Zombie
MoarBrainz
HiThisIsBrain
UnnecessaryViolence
SedIsForLosers
Harl2
HarlFilter

#cpp_02
MyFirstClassInOCF
TowardsAMoreUsefulClass
NowWeReTalking
BSP

#cpp_03
AaaaandOPEN
SerenaMyLove
RepetitiveWork
NowItsWeird

#cpp_04
Polymorphism
IDontWantToSetTheWorldOnFire
AbstractClass
InterfaceRecap

#cpp_05
MommyWhenIGrowUpIWantToBeABureaucrat
FormUpMaggots
AtLeastThisBeatsCoffeeMaking
*_shrubbery

#cpp_06
ConversionOfScalarTypes